@charset "UTF-8";
.header {
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
}

.header_logo {
  width: 4.86vw;
  height: 3.04vw;
  margin-left: 9.38vw;
}

.header_novigation {
  margin-left: 22.92vw;
}

.header_novigation_link {
  font-size: 12px;
  margin-right: 4.17vw;
  text-decoration: none;
  color: black;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.4s ease-in-out;
}

.header_novigation_link:hover {
  border: 1px solid black;
  transform: scaleX(1);
  border-left: none;
  border-right: none;
}

@media (max-width: 768px) {
  .header_novigation {
    margin-left: 9.92vw;
  }
}
.cover {
  width: 100vw;
  height: 829px;
  display: flex;
  align-items: center;
}

.cover_text {
  width: 27.78vw;
  margin-left: 9.38vw;
}

.cover_text1 {
  font-size: 4.44vw;
  color: gray;
}

.cover_text2 {
  font-size: 4.44vw;
  font-weight: bold;
}

.cover_img {
  width: 53.47vw;
  height: 57.57vw;
}

@media (max-width: 768px) {
  .cover {
    width: 100vw;
    height: 529px;
    display: flex;
    align-items: center;
  }
}
.gallery_images_img10, .gallery_images_img9, .gallery_images_img8, .gallery_images_img7, .gallery_images_img6, .gallery_images_img5, .gallery_images_img4, .gallery_images_img3, .gallery_images_img2, .gallery_images_img1 {
  width: 210px;
  height: 260px;
  border-radius: 5%;
}

.gallery {
  width: 1170px;
  height: 800px;
  margin-left: 9.38vw;
  margin-top: 150px;
}

.gallery_text1 {
  font-size: 4.44vw;
  color: gray;
}

.gallery_text2 {
  font-size: 4.44vw;
  font-weight: bold;
}

.gallery_line {
  color: #f2f2f2;
}

.gallery_images {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}

@media (max-width: 768px) {
  .gallery {
    width: 700px;
    height: 960px;
    margin-left: 4.28vw;
    margin-top: 40px;
  }
  .gallery_images {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 равные колонки */
    grid-auto-rows: auto; /* Высота по содержимому */
    gap: 15px; /* Отступы между картинками */
  }
  .gallery_images_img1 {
    -moz-column-break-inside: avoid;
         break-inside: avoid;
  }
  .gallery_images_img2 {
    -moz-column-break-inside: avoid;
         break-inside: avoid;
    transform: translateY(100px);
  }
  .gallery_images_img3 {
    -moz-column-break-inside: avoid;
         break-inside: avoid;
  }
  .gallery_images_img4 {
    -moz-column-break-inside: avoid;
         break-inside: avoid;
  }
  .gallery_images_img5 {
    -moz-column-break-inside: avoid;
         break-inside: avoid;
    transform: translateY(100px);
  }
  .gallery_images_img6 {
    -moz-column-break-inside: avoid;
         break-inside: avoid;
  }
  .gallery_images_img7 {
    -moz-column-break-inside: avoid;
         break-inside: avoid;
  }
  .gallery_images_img8 {
    -moz-column-break-inside: avoid;
         break-inside: avoid;
    transform: translateY(100px);
  }
  .gallery_images_img9 {
    -moz-column-break-inside: avoid;
         break-inside: avoid;
  }
  .gallery_images_img10 {
    display: none;
  }
}
.mainfocus {
  width: 81.25vw;
  height: 268px;
  margin-left: 9.38vw;
  margin-top: 100px;
}

.mainfocus_text {
  width: 881px;
  height: 64px;
  font-size: 4.44vw;
  color: gray;
}

.mainfocus_main {
  width: 81.25vw;
  height: 144px;
  margin-top: 50px;
  display: flex;
}

.mainfocus_main1 {
  display: flex;
  align-items: center;
}

.mainfocus_main1_img1 {
  height: 140px;
  width: auto;
  margin-right: 10px;
}

.mainfocus_main1_text2 {
  width: 279px;
  height: 144px;
  font-size: 22px;
  color: black;
}

.mainfocus_main2 {
  display: flex;
  margin-left: 240px;
}

.mainfocus_main2_img1 {
  height: 140px;
  width: auto;
  margin-right: 15px;
}

.mainfocus_main2_text2 {
  width: 279px;
  height: 144px;
  font-size: 22px;
  color: black;
}

@media (max-width: 1400px) {
  .mainfocus_main {
    width: 81.25vw;
    height: 268px;
    margin-left: 0;
    margin-top: 50px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }
  .mainfocus {
    width: 768px;
    height: 468px;
    margin-left: 9.38vw;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .mainfocus_main2 {
    display: flex;
    margin-left: 16.67vw;
    margin-top: 10px;
  }
}
@media (max-width: 768px) {
  .mainfocus {
    width: 768px;
    height: 368px;
    margin-left: 9.38vw;
    margin-top: 100px;
  }
  .mainfocus_main2 {
    display: flex;
    margin-left: 0;
    margin-top: 10px;
  }
}
.ourproject {
  width: 81.25vw;
  height: 53.13vw;
  margin-left: 9.38vw;
  margin-top: 100px;
  position: relative;
}

.ourproject_text {
  font-size: 4.44vw;
  color: gray;
}

.ourproject_img {
  width: 81.25vw;
  width: 540px;
}

.ourproject_button {
  width: 15.42vw;
  height: 4.93vw;
  background-color: black;
  color: white;
  border-radius: 0;
  position: absolute;
  right: 0%;
  bottom: 0%;
  align-items: center;
}

.ourproject_button_img {
  width: 9.93vw;
  height: 1.67vw;
}

.projects-grid {
  width: 81.25vw;
  height: 37.5vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  margin-top: 15px;
}

.small-right, .medium, .small, .wide-right, .wide-left {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wide-left {
  grid-column: 1/span 2; /* Первые 2 колонки */
  grid-row: 1;
}

.wide-right {
  grid-column: 3/span 2; /* Последние 2 колонки */
  grid-row: 1;
}

.small {
  grid-column: 1; /* 1 колонка */
  grid-row: 2;
}

.medium {
  grid-column: 2/span 2; /* 2 и 3 колонки */
  grid-row: 2;
}

.small-right {
  grid-column: 4; /* 4 колонка */
  grid-row: 2;
}

.information {
  width: 100vw;
  height: 417px;
  margin-top: 100px;
  background-color: #2c2c2c;
  display: flex;
}

.information_logo {
  width: 10.07vw;
  height: 6.53vw;
  margin-left: 8.06vw;
  margin-top: 58px;
}

.information_text_inf {
  display: flex;
  margin-top: 58px;
}

.information_text {
  width: 42.01vw;
  height: 15.9vw;
}

.information_social {
  margin-top: 58px;
  margin-left: 10.42vw;
}

.information_social_text {
  color: white;
  font-size: 22px;
  font-weight: bold;
}

.information_social_img {
  width: 13.4vw;
  height: 1.39vw;
}

.information_text_inf_firsttab {
  color: white;
  margin-left: 9.38vw;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.information_text_inf_lasttab {
  color: white;
  margin-left: 9.38vw;
}

.information_text_inf_firsttab_mainword {
  font-weight: bold;
  font-size: 22px;
}

.information_text_inf_lasttab_mainword {
  font-weight: bold;
  font-size: 22px;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: "Roboto";
  src: url("font/Roboto-Regular.ttf") format("ttf");
  font-style: normal;
}
html {
  font-family: "Roboto", sans-serif;
}/*# sourceMappingURL=main.css.map */