.header {
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
}

.header_logo {
  width: 4.86vw;
  height: 3.04vw;
  margin-left: 9.38vw;
}

.header_novigation {
  margin-left: 22.92vw;
}

.header_novigation_link {
  font-size: 12px;
  margin-right: 60px;
  text-decoration: none;
  color: black;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.4s ease-in-out;
}

.header_novigation_link:hover {
  border: 1px solid black;
  transform: scaleX(1);
  border-left: none;
  border-right: none;
}

.cover {
  width: 100vw;
  height: 829px;
  display: flex;
  align-items: center;
}

.cover_text {
  width: 27.78vw;
  margin-left: 9.38vw;
}

.cover_text1 {
  font-size: 4.44vw;
  color: gray;
}

.cover_text2 {
  font-size: 4.44vw;
  font-weight: bold;
}

.cover_img {
  width: 53.47vw;
  height: 57.57vw;
}

.gallery_images_img10, .gallery_images_img9, .gallery_images_img8, .gallery_images_img7, .gallery_images_img6, .gallery_images_img5, .gallery_images_img4, .gallery_images_img3, .gallery_images_img2, .gallery_images_img1 {
  width: 210px;
  height: 260px;
  border-radius: 5%;
}

.gallery {
  width: 1170px;
  height: 800px;
  margin-left: 9.38vw;
  margin-top: 150px;
}

.gallery_text1 {
  font-size: 64px;
  color: gray;
}

.gallery_text2 {
  font-size: 64px;
  font-weight: bold;
}

.gallery_line {
  color: #f2f2f2;
}

.gallery_images {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}

.mainfocus {
  width: 1170px;
  height: 268px;
  margin-left: 9.38vw;
  margin-top: 100px;
}

.mainfocus_text {
  width: 881px;
  height: 64px;
  font-size: 64px;
  color: gray;
}

.mainfocus_main {
  width: 1170px;
  height: 144px;
  margin-top: 50px;
  display: flex;
}

.mainfocus_main1 {
  display: flex;
  align-items: center;
}

.mainfocus_main1_img1 {
  height: 140px;
  width: auto;
  margin-right: 10px;
}

.mainfocus_main1_text2 {
  width: 279px;
  height: 144px;
  font-size: 22px;
  color: black;
}

.mainfocus_main2 {
  display: flex;
  margin-left: 240px;
}

.mainfocus_main2_img1 {
  height: 140px;
  width: auto;
  margin-right: 15px;
}

.mainfocus_main2_text2 {
  width: 279px;
  height: 144px;
  font-size: 22px;
  color: black;
}

.information {
  width: 1440px;
  height: 417px;
  margin-top: 100px;
  background-color: #2c2c2c;
  display: flex;
}

.information_logo {
  width: 145px;
  height: 94px;
  margin-left: 116px;
  margin-top: 58px;
}

.information_text_inf {
  display: flex;
  margin-top: 58px;
}

.information_text {
  width: 605px;
  height: 229px;
}

.information_social {
  margin-top: 58px;
}

.information_social_text {
  color: white;
  font-weight: 22px;
}

.information_social_img {
  width: 193px;
  height: 20px;
}

.information_text_inf_firsttab {
  color: white;
  margin-left: 135px;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.information_text_inf_lasttab {
  color: white;
  margin-left: 135px;
}

.information_text_inf_firsttab_mainword {
  font-weight: bold;
  font-size: 22px;
}

.information_text_inf_lasttab_mainword {
  font-weight: bold;
  font-size: 22px;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: "Roboto";
  src: url("font/Roboto-Regular.ttf") format("ttf");
  font-style: normal;
}
html {
  font-family: "Roboto", sans-serif;
}/*# sourceMappingURL=main.css.map */