.cover{
    width: 100vw;
    height: 829px;
    display: flex;
    align-items: center;
}

.cover_text{
    width: 27.78vw;
    margin-left: 9.38vw;
}

.cover_text1{
    font-size: 4.44vw;
    color: gray;

}

.cover_text2{
    font-size: 4.44vw;
    font-weight: bold;
}

.cover_img{
    width: 53.47vw;
    height: 57.57vw;
}

@media (max-width: 768px){
    .cover{
        width: 100vw;
        height: 529px;
        display: flex;
        align-items: center;
    }
}