.cover{
    width: 1440px;
    height: 829px;
    display: flex;
    align-items: center;
}

.cover_text{
    width: 400px;
    margin-left: 135px;
}

.cover_text1{
    font-size: 64px;
    color: gray;


}

.cover_text2{
    font-size: 64px;
    font-weight: bold;
}