%customWidth{
    width: 210px;
    height: 260px;
    border-radius: 5%;
}

.gallery{
    width: 1170px;
    height: 800px;
    margin-left: 135px;
    margin-top: 150px;
}

.gallery_text1{
    font-size: 64px;
    color: gray;
    
}

.gallery_text2{
    font-size: 64px;
    font-weight: bold;

}

.gallery_line{
    color: #f2f2f2;
}

.gallery_images{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
}


.gallery_images_img1{
    @extend %customWidth;
}

.gallery_images_img2{
    @extend %customWidth;
}

.gallery_images_img3{
    @extend %customWidth;
}

.gallery_images_img4{
    @extend %customWidth;
}

.gallery_images_img5{
    @extend %customWidth;
}

.gallery_images_img6{
    @extend %customWidth;
}

.gallery_images_img7{
    @extend %customWidth;
}

.gallery_images_img8{
    @extend %customWidth;
}

.gallery_images_img9{
    @extend %customWidth;
}

.gallery_images_img10{
    @extend %customWidth;
}

