.information{
    width: 1440px;
    height: 417px;
    margin-top: 100px;
    background-color: #2c2c2c;
    display: flex;
}

.information_logo{
    width: 145px;
    height: 94px;
    margin-left: 116px;
    margin-top: 58px;
}

.information_text{
    width: 605px;
    height: 229px;
    
}


.information_social_text{
    color: white;
}

.information_social_img{
    width: 193px;
    height: 20px;
}