.mainfocus{
    width: 81.25vw;
    height: 268px;
    margin-left: 9.38vw;
    margin-top: 100px;
}

.mainfocus_text{
    width: 881px;
    height: 64px;
    font-size: 4.44vw;
    color: gray;
}

.mainfocus_main{
    width: 81.25vw;
    height: 144px;
    margin-top: 50px;
    display: flex;
}

.mainfocus_main1{
    display: flex;
    align-items: center;
}

.mainfocus_main1_img1{
    height: 140px;
    width: auto;
    margin-right: 10px;
}

.mainfocus_main1_text2{
    width: 279px;
    height: 144px;
    font-size: 22px;
    color: black;

}

.mainfocus_main2{
    display: flex;
    margin-left: 240px;
}

.mainfocus_main2_img1{
    height: 140px;
    width: auto;
    margin-right: 15px;
}

.mainfocus_main2_text2{
    width: 279px;
    height: 144px;
    font-size: 22px;
    color: black;

}